<html><h1>url shortner</h1>
<form action="" method="post" name="url">
{{form.hidden_tag()}}
<p>{{form.url(size=50)}}<br>{%for o in out %}
<div><p><a href=http://127.0.0.1:5000/{{o[0]}}>http://127.0.0.1:5000/{{o[0]}}</a></div></p>
{%endfor%}</p><p><input type="submit" value="enter"></p></form><br>
HISTORY
{%for post in posts %}
<div><p><br><a href=http://127.0.0.1:5000/{{post[0]}}>http://127.0.0.1:5000/{{post[0]}}  ------- {{post[1]}}</a></div></p>
{%endfor%}
</html>
